<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cs" value="server=10.121.10.13; database=remotedesktopcenter; uid=root; pwd=P@ssw0rd"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.121.10.15/wsCenter/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="wsCenter.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://192.168.32.30/WSDefault/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
                contract="wsDefault.ServiceSoap" name="ServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>